<div class="flex flex-col justify-center">
  <div class="flex justify-end mb-3">
    <a class="py-1 px-2 bg-green-500 text-white text-sm rounded hover:shadow-lg"
      [routerLink]="['/add']">
      Add New Habit
    </a>
  </div>
  <div class="p-3 border rounded-lg mb-3"
    *ngFor="let habit of habitService.list(); let i = index">
    <div class="flex justify-between">
      <p class="text font-semibold mr-2">
        {{ habit.name }}
      </p>
      <p class="bg-indigo-500 text-white rounded-xl text-sm px-2 py-1">
        {{ habit.frequency }}
      </p>
    </div>
    <p class="my-3">{{ habit.description }}</p>
    <div class="flex justify-end">
      <button
        class="py-1 px-2 bg-yellow-500 text-white rounded hover:shadow-lg text-sm"
        (click)="editClick(habit, i)">Edit</button>
      <button
        class="py-1 px-2 bg-red-500 text-white rounded hover:shadow-lg text-sm ml-2"
        (click)="deleteClick(i)">Delete</button>
    </div>
  </div>